.headerResponsive__nav {
  display: block;
}

.headerResponsive {
  background-color: #131921;
}

.headerResponsive__logo {
  margin-left: 65px;
  margin-top: 25px;
  width: 15%;
}

.headerResponsive__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 25px;
  width: 90%;
  margin-left: 20px;
  margin-top: 13px;
}

.headerResponsive__rightNav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: -35px;
}

.headerResponsive__link {
  text-decoration: none;
}

.headerResponsive__optionBasket {
  display: flex;
  align-items: center;
  color: white;
  padding: 5px;
  margin: 0px 10px 0px 10px;
}

.headerResponsive__basketCount {
  margin-left: 5px;
}

.headerResponsive__optionUser {
  display: flex;
  color: white;
  flex-direction: column;
}

.headerResponsive__optionLineOne {
  font-size: 10px;
  text-decoration: none;
}

.headerResponsive__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
  text-decoration: none;
}

.menuToggle {
  display: block;
  position: relative;
  top: -72px;
  left: 15px;

  z-index: 20;

  -webkit-user-select: none;
  user-select: none;
}

.menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

.menuToggle a:hover {
  color: grey;
}

.menuToggle input {
  display: block;
  width: 40px;
  height: 25px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

.menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.menuToggle span:first-child {
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

.menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.menu {
  position: absolute;
  width: 300px;
  margin: -53px 0 0 -50px;
  padding: 50px;
  padding-top: 55px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.menu li {
  padding: 10px 0;
  font-size: 22px;
}

.menuToggle input:checked ~ ul {
  transform: none;
}

.menu > .headerResponsive__menuUser {
  margin-top: 10px;
}
